body {
  margin: 0;
  /* overflow-x: hidden; */
  height: 100%;
  width: 100%;
}

.bg {
  background-image: linear-gradient(rgba(3, 36, 57, .8), rgba(3, 36, 57, .8)), url(http://izzy.imgix.net/man-small.jpg?q=30);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  outline: none;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
