<html>
  <head>
    <title>Chat</title>
    <style>
      input { display: block; }
      ul    { list-style: none; }
    </style>
  </head>
  <body>

    <h1>Count:</h1>
    <p id="total"> </p>

    <form id="entryForm">
      <input id="name" type="text" name="name" />
      <input id="email" type="email" name="email" />
      <input id="count" type="number" name="count" />
      <input type="submit" value="Add Cards">
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>

    $(function(){
      var socket = null;
      var $total = $("#total");
      var current = 4;

      // set inital count
      $total.text(current)

      if (!window["WebSocket"]) {
        alert("Error: Your browser does not support web sockets.")
      } else {
        socket = new WebSocket("wss://{{.Host}}/cards");
        socket.onclose = function() { alert("Connection has been closed."); }
        socket.onmessage = function(e) {
          var entry = JSON.parse(e.data);
          var newTotal = current + entry.count;
          $total.text(newTotal)
        }
      }

      $("#entryForm").submit(function(e){
        e.preventDefault()
        var entry = {
          name: $("#name").val(),
          email: $("#email").val(),
          count: parseInt($("#count").val(), 10),
        };

        socket.send(JSON.stringify(entry));
        return false;
      });

    });

  </script>
</body>
</html>
